*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f1f1f1;
}

/* ----------------- NAVIGATION ------------------------ */
.nav-gauche {
  width: 300px;
  height: 100vh;
  min-height: 800px;
  background: #333;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 1px dashed #f1f1f1;
  z-index: 10;
  transition: all 0.3s ease-in-out;
}
.blocs-menu {
  width: 100%;
  height: 10%; /*on peut utiliser des % cf référence au min-height */
  display: flex;
  justify-content: center;
  align-items: center;
}
.blocs-menu span {
  font-size: 1.9rem;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  position: relative;
}
.blocs-menu span a {
  color: #f1f1f1;
  text-decoration: none;
}
.blocs-menu span::after {
  content: "";
  display: block;
  width: 0;
  margin: 5px auto 0 auto; /*le margin auto permet de centrer par le milieu*/
  height: 2px;
  border-radius: 2px;
  background: #aaa;
  transition: all 0.2s ease-out;
}
.blocs-menu span:hover::after {
  width: 100%; /* rataché au span qui est de nature inline donc prendera toute la largeur */
}
/* PORTRAIT */
.blocs-menu:nth-child(1) {
  width: 100%;
  height: 25%;
}
.circle-portrait {
  margin: 20px 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  box-shadow: 26px 26px 53px #292929, -26px -26px 53px #3d3d3d;
}
.circle-portrait img {
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.logo-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  bottom: 40px;
  cursor: pointer;
}
.logo-circle img {
  width: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 1300px) {
  .nav-gauche {
    left: -300px !important;
    width: 250px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .blocs-menu:nth-child(1) {
    display: none;
  }
  .blocs-menu:nth-child(7) {
    display: none;
  }
  .menu-visible {
    left: 0px !important;
  }
  .btn-round-menu {
    width: 70px;
    height: 70px;
    border: 1px solid #f1f1f1;
    background: #333;
    border-radius: 50%;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 100;
  }
  .container-line {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
  .line {
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background: #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .line::before {
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background: #f1f1f1;
    position: absolute;
    bottom: 10px;
    content: "";
  }
  .line::after {
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background: #f1f1f1;
    position: absolute;
    top: 10px;
    content: "";
  }

  .container-line.active .line::after {
    position: absolute;
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms ease, transform 300ms 300ms ease;
  }
  .container-line.active .line {
    background: transparent;
  }
  .container-line.active .line::before {
    position: absolute;
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms ease, transform 300ms 300ms ease;
  }
}
/*  ------------- ACCUEIL------------------ */
.accueil {
  background: url(ressources/accueil.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  height: 100vh;
  min-height: 970px;
  width: calc(100% - 300px); /*POUR PLACER APRES LA NAV-GAUCHE */
  position: relative;
  margin-left: auto;
}
h1 {
  font-size: 8.2rem;
  font-family: "Abril Fatface", sans-serif;
  margin: 0 60px;
  padding-top: 215px;
}
.txt-animation {
  font-size: 3rem;
  margin: 10px 0 10px 60px;
}
.btn-acc {
  display: inline-flex;
  width: 200px;
  height: 50px;
  text-decoration: none;
  color: #f1f1f1;
  background: #000;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  margin: 10px 0 0 0;
  font-size: 1.8rem;
}
.btn-acc1 {
  margin: 10px 0 0 60px;
}
.btn-acc2 {
  background: transparent;
  color: #000;
  font-weight: 700;
  border: 2px solid #000;
}
.medias {
  display: flex;
  margin: 30px 0 0 60px;
}
.media {
  width: 60px;
  height: 60px;
  background: #333;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
}
.media2 {
  background-color: transparent;
  border: 2px solid #333;
}
.icone-medias {
  width: 30px;
}
.btn-round {
  width: 70px;
  height: 70px;
  position: absolute;
  bottom: 20px;
  left: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0 0 #333;
  background: #333;
  animation: pulse 1.3s infinite;
}
@keyframes pulse {
  to {
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.01);
  }
}
.logo-btn-round-accueil {
  width: 35px;
}
/*MEDIA ACCUEIL*/

@media screen and (max-width: 1300px) {
  .accueil {
    width: 100%;
    background-position: center;
  }
}

@media screen and (max-width: 1000px) {
  .accueil {
    height: 700px;
  }
  h1 {
    font-size: 7rem;
    margin: 0 30px 0 30px;
    padding-top: 100px;
  }
  .accueil p {
    margin: 20px 0 20px 30px;
  }
  .medias {
    margin-left: 30px;
  }
  .btn-acc1 {
    margin: 20px 0 20px 30px;
  }
  .btn-round {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .accueil {
    height: 600px;
    min-height: 0;
  }
  h1 {
    font-size: 5rem;
    margin: 0 20px;
  }
  .accueil p {
    font-size: 2rem;
  }

  .btn-round-menu {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 3.5rem;
    margin: 0 20px;
  }
  .accueil p {
    font-size: 1.6rem;
  }
  .btn-acc {
    width: 120px;
    font-size: 1.3rem;
    height: 40px;
  }
  .btn-round-menu {
    width: 60px;
    height: 60px;
    margin: 10px 0 0 5px;
  }
  .btn-acc1 {
    margin: 10px 0 0 30px;
  }
  .media {
    width: 40px;
    height: 40px;
  }
  .icone-medias {
    width: 20px;
  }
}
@media screen and (max-width: 450px) {
  .btn-round-menu {
    width: 50px;
    height: 50px;
    margin: 10px 0 0 5px;
  }
  .btn-acc1 {
    margin: 10px 0 0 30px;
  }
  .media {
    width: 40px;
    height: 40px;
  }
  .icone-medias {
    width: 20px;
  }
  .container-line {
    width: 25px;
    height: 38px;
  }
  .line {
    height: 3px;
  }
  .line::before {
    height: 3px;
    bottom: 8px;
  }
  .line::after {
    height: 3px;
    top: 8px;
  }
}
.accueil {
  height: 500px;
}
h1 {
  margin: 0 30px 0 5px;
  padding-top: 100px;
}
.accueil p {
  margin: 30px 0 0 5px;
}
.btn-acc {
  width: 100px;
  font-size: 1.2rem;
  height: 35px;
  margin: 30px 0 0 5px;
}
.medias {
  margin: 30px 0 0 5px;
}
.icone-medias {
  width: 20px;
}
@media screen and (max-width: 380px) {
  .txt-animation {
    font-size: 12px !important;
  }
}

/*-----------------------Section Présentation-----------------------*/

.presentation {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-top: 1px dashed #333;
  border-bottom: 1px dashed #333;
  color: #e7e7e7;
}
.fond-forme {
  background: #485563;
  background-image: linear-gradient(to right, #29323c, #485563);
  width: 2300px;
  height: 1000px;
  position: absolute;
  z-index: -1;
  transform: rotate(-45deg) translateX(100px) translateY(-15px);
}
.titre-pres {
  font-size: 4rem;
  text-align: center;
  margin: 50px 0 70px 0;
  padding-left: 300px; /* car accueil =300px*/
}
.container-presentation {
  width: 100%;
  padding-left: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 100px 0;
  flex-shrink: 0; /* l enfant ne reduit pas en taille*/
}
.pres-gauche {
  width: 600px;
  flex-shrink: 0;
  margin-bottom: 50px;
  padding-left: 120px;
  padding-top: 20px;
}
.pres-gauche h3 {
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 2px;
}
.pres-gauche hr {
  width: 120px;
  margin: 3px auto 20px auto;
}
.pres-gauche p {
  text-align: justify;
  font-size: 1.6rem;
}

.pres-droite {
  width: 600px;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-start;
}

.liste-presentation {
  list-style-type: none;
  padding: 10px 0 50px 110px;
}
.chiffre-style {
  font-family: "Abril Fatface", sans-serif;
  font-size: 3rem;
}
.txt-liste {
  font-size: 2.5rem;
  display: inline;
}

/*Medias Présentation*/

@media screen and (max-width: 1300px) {
  .container-presentation {
    padding-left: 0;
  }
  .titre-pres {
    padding-left: 0;
  }
}

@media screen and (max-width: 1100px) {
  .fond-forme {
    width: 100%;
    height: 150%;
    transform: rotate(0) translateX(0) translateY(0);
  }
  .titre-pres {
    margin: 0 0 20px 0;
    padding-top: 50px;
  }
  .container-presentation {
    flex-direction: column;
  }
  .pres-gauche {
    width: 80%;
    flex-shrink: 1;
    margin-bottom: 10px;
    padding: 20px 0;
  }
  .pres-gauche h3 {
    font-size: 2rem;
    letter-spacing: 0;
  }
  .pres-gauche p {
    font-size: 1.5rem;
  }
  .pres-droite {
    width: 80%;
    flex-shrink: 1;
  }
  .liste-presentation {
    padding: 0 0;
  }
}

@media screen and (max-width: 700px) {
  .container-presentation {
    margin-top: 10px;
    margin-bottom: 70px;
  }
  .titre-pres {
    font-size: 2.4rem;
    margin: 0 10px;
  }
  .pres-gauche h3 {
    font-size: 2;
  }
  .txt-liste {
    font-size: 1.7rem;
  }
}

/*-------------------------Section Portfolio------------------*/

.portfolio {
  width: 100%;
}
.titre-port {
  text-align: center;
  padding: 50px 0 50px 300px;
  font-size: 5rem;
}
.container-portfolio {
  width: 100%;
  height: auto;
  margin: 0 auto 100px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-left: 300px;
}
.item {
  margin: 20px;
  width: 420px;
  height: 400px;
  background: #f0f2f0;
  color: #333;
  transition: transform 0.3s ease-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.item:hover {
  transform: translateY(-5px);
}
.cont-img-port {
  width: 100%;
  height: 220px;
  overflow: hidden;
}
.cont-img-port img {
  width: 100%;
  height: auto;
}
.item h3 {
  padding: 10px 10px 0;
  font-size: 2.2rem;
}
.item p {
  padding: 10px 10px 0;
  font-size: 1.5rem;
}
.btn-projets {
  display: block; /* CAR IL S AGIT D UN LIEN*/
  margin: 10px;
  width: 180px;
  height: 50px;
  line-height: 50px; /* PERMET DE LE CENTRER SUR Y*/
  text-align: center;
  text-decoration: none;
  color: #333;
  border: 1px solid #333;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-size: 1.5rem;
}
.btn-projets::after {
  content: "";
  height: 240px;
  width: 100px;
  background: rgba(255, 255, 255, 0.4);
  display: block;
  position: absolute;
  transform: rotate(-45deg); /* ANIMATION SHINNY SUR LES BOUTONS*/
  top: -50%;
  left: -150px;
}
.btn-projets:hover::after {
  /* ANIMATION SHINNY SUR LES BOUTONS*/
  transform: translateX(400px);
  transition: transform 0.3s 0.1s linear;
}
/*Media Portfolio*/

@media screen and (max-width: 1300px) {
  .container-portfolio {
    padding-left: 0;
  }
  .titre-port {
    font-size: 4rem;
    margin: 50px 0 50px 0;
    padding-left: 0;
  }
}
@media screen and (max-width: 500px) {
  .titre-port {
    margin: 10px 0;
    padding: 30px 0;
  }
  .cont-img-port {
    height: auto;
  }
}
@media screen and (max-width: 340px) {
  .item {
    height: 380px;
  }
}

/*--------------------Section Range-------------------*/

.section-range {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 200px;
  border-bottom: 1px dashed #333;
  background: #485563;
  background-image: linear-gradient(to right, #29323c, #485563);
  color: #f1f1f1;
  position: relative;
  z-index: -1;
}
.range-cont {
  position: relative;
}

.titre-exp {
  font-size: 4rem;
  text-align: center;
  padding-left: 300px;
  margin: 80px 0 90px 0;
}
.grille-skill {
  display: grid;
  grid-template: repeat(3, 80px) / repeat(2, 500px);
  grid-gap: 50px;
  padding-left: 300px;
}
.barre-skill {
  height: 15px;
  background: rgb(167, 146, 243);
  border-radius: 5px;
  position: absolute;
  left: 0;
  bottom: 0px;
}
.barre-grise {
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  width: 500px;
  height: 15px;
  background: rgb(216, 216, 216);
  border-radius: 5px;
}
.b1 {
  width: 90%;
}
.b2 {
  width: 75%;
  background: rgb(243, 237, 146);
}
.b3 {
  width: 70%;
  background: rgb(243, 237, 146);
}
.b4 {
  width: 80%;
}
.b5 {
  width: 70%;
}
.b6 {
  width: 80%;
  background: rgb(243, 237, 146);
}
.label-skill {
  font-size: 2.4rem;
}
.number-skill {
  font-size: 2rem;
}

/* Media Range*/

@media screen and (max-width: 1400px) {
  .grille-skill {
    grid-template: repeat(3, 80px) / repeat(2, 450px);
  }
  .barre-grise {
    width: 450px;
  }
}
@media screen and (max-width: 1300px) {
  .section-range {
    padding-left: 0;
  }
  .titre-exp {
    padding-left: 0;
  }
  .grille-skill {
    padding-left: 0;
    grid-template: repeat(6, 80px) / 600px;
  }
  .barre-grise {
    width: 600px;
  }
}
@media screen and (max-width: 700px) {
  .grille-skill {
    grid-template: repeat(6, 80px) / 400px;
  }
  .barre-grise {
    width: 400px;
  }
}
@media screen and (max-width: 450px) {
  .section-range {
    padding-bottom: 100px;
  }
  .titre-exp {
    font-size: 3rem;
    margin: 50px 0 60px 0;
  }
  .label-skill {
    font-size: 2rem;
  }
  .grille-skill {
    grid-template: repeat(6, 80px) / 300px;
    grid-gap: 40px;
  }
  .barre-grise {
    width: 300px;
  }
}

/* --------------------Section expérience travail----------------------------- */

.travail-exp {
  width: calc(100% - 300px);
  height: auto;
  margin-left: auto;
  padding-bottom: 100px;
}
.titre-travail-exp {
  text-align: center;
  color: 333;
  margin: 70px 0;
  font-size: 4rem;
}
.cont-travail-exp {
  position: relative;
  display: flex;
  justify-content: center;
}
.barre-verticale {
  height: 1000px;
  width: 5px;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: -30px;
}
.boule-ico {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #333;
  background: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boule-ico img {
  width: 25px;
}
.flex-cont-bloc-exp {
  width: 800px;
  height: 1000px;
  flex-shrink: 1;
  position: relative;
}
.bloc {
  width: 100%;
  height: 200px;
  margin-bottom: 3.75rem;
  cursor: pointer;
  border: 1px solid #333;
  position: relative;
}
.contenu-bloc {
  padding: 20px;
  width: 100%;
  height: 100%;
  border: 2px solid #333;
  background: #f1f1f1;
  transition: transform 0.25s ease-in-out;
  position: relative;
  transform: translate(10px, -10px);
}
.contenu-bloc:hover {
  transform: translate(0, 0);
}
